@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

// Set your brand colors
// $red: linear-gradient(156.6deg, #FF7569 -13.39%, #FF4E54 110.76%, #89F7FE 112.15%);
$red: #FF4E54;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #FAF5F2;

// Update Bulma's global variables
$family-sans-serif: "Hind Siliguri",
sans-serif;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/form/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";